.header {
  min-height: 5vh;
  max-width: 100vw;

  background-color: #eee;
  /* background-color: #414141;
  color: white; */

  display: flex;

  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;

  font-weight: bold;
}
