.container {
  font-size: 2rem;
  color: var(--main-text-color);
}

.container > * {
  margin-bottom: 1rem;
}

.header {
  font-size: 2.8rem;
  display: flex;
  align-items: center;
}

.header-loading {
  height: 5rem;
  width: 8rem;
  display: block;
}

.setting-list {
  margin-bottom: 2rem;
}

.setting-list svg {
  height: 2rem;
  width: 2rem;
  display: inline-block;
}

.options {
  display: inline-block;
}
