/* Global Setting */
html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --main-container: 90vh;
  --input-width: 13rem;
  --input-width-md: 10rem;
  --input-width-sm: 4rem;
  --main-text-color: #fdfdfd;
  --setting-title-font-size: 2.2rem;
  --setting-content-font-size: 1.8rem;
  --setting-content-color: #fdfdfd;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: none;
}

.leaflet-container {
  height: var(--main-container);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

@media (max-width: 39em) {
  :root {
    --setting-title-font-size: 1.8rem;
  }

  .leaflet-container {
    height: 50vh;
  }
}
