.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  color: #4cd94c;
  margin-bottom: 0.5rem;
  font-size: var(--setting-title-font-size);
}

.mag-input {
  display: flex;
  gap: 1rem;
  font-size: 1.6rem;
  align-items: center;
  font-size: var(--setting-content-font-size);
}

.mag-input select {
  width: var(--input-width-sm);
}
