.text-container {
  max-height: 90%;
  padding: 2.5rem 5rem;
  font-size: 2rem;
  max-width: 114rem;

  overflow-y: auto;
}

.list {
  margin-bottom: 2.4rem;
}

.list > h2 {
  color: gold;
}

.list > li {
  margin-bottom: 1.2rem;
}

.link:link,
.link:visited {
  display: inline-block;
  color: rgb(88, 172, 255);
  transition: all 0.5s;
}

.link:hover,
.link:active {
  color: #fa8e00;
  transform: translateY(-0.5px);
}
