.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  color: #4cd94c;
  margin-bottom: 0.5rem;
  font-size: var(--setting-title-font-size);
}

.title > svg {
  color: var(--main-text-color);
}

.coord-input {
  display: flex;
  gap: 1rem;
  font-size: inherit;
  align-items: center;
  font-size: var(--setting-content-font-size);
  font-size: 1.8rem;
}

/* 為了跟下行對稱 */
.lat {
  margin-left: 0.5rem;
}

.coord-input > input {
  width: var(--input-width-md);
  font-size: 1.5rem;
}

@media (max-width: 39em) {
  .lat {
    /* 為了跟下行對稱 */
    margin-left: 0.4rem;
  }
}
@media (max-width: 30em) {
  .coord-input {
    gap: 0rem;
    font-size: 1.4rem;
  }
}
