.container {
  font-size: inherit;
  color: var(--main-text-color);
  margin-bottom: 4rem;
}

.header {
  font-size: 2.8rem;
  display: flex;
  align-items: center;
}

.header-loading {
  height: 5rem;
  width: 8rem;
  display: block;
}

.setting-list {
  margin-bottom: 2rem;
}

.setting-list svg {
  height: 2rem;
  width: 2rem;
  display: inline-block;
}

.options {
  display: inline-block;
}

@media (max-width: 39em) {
  .container {
    width: 70%;
    padding-left: 2rem;
    margin-bottom: 0;
    align-items: center;
  }

  .setting-list {
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 30em) {
  .header {
    font-size: 2.4rem;
  }
  .header-loading {
    height: 4.5rem;
    width: 5rem;
    display: block;
  }
  .container {
    padding-left: 0.5rem;
  }
}
