.loadingNotch {
  animation: spinner 2s linear infinite;
  height: inherit;
  width: inherit;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
