.main-container {
  height: var(--main-container);
  margin: auto 3rem;
  flex-grow: 1;
  max-height: 90vh;
  border-radius: 1rem;
  transform: translateZ(0);
  background-color: rgb(77, 77, 77);
  overflow: hidden;

  display: flex;
  align-items: center;
}

.map-container {
  flex: 1 1 auto;
  text-align: center;
}

.options-container {
  width: 20rem;
  padding: 0 3.5rem;
  position: relative;
}

@media (max-width: 54em) {
  .main-container {
    margin: auto 2rem;
  }
}

@media (max-width: 39em) {
  .main-container {
    flex-direction: column;
  }

  .map-container {
    min-height: 50vh;
    width: 100%;
    flex: 0 1 auto;
  }

  .options-container {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    width: 100%;
  }
}
