.message {
  font-size: 2rem;
}
.link:link,
.link:visited {
  font-size: 2rem;
  display: inline-block;
  color: rgb(88, 172, 255);
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #fa8e00;
  transform: scale(1.02);
}
